## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [3]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [4]:
# Your code here
sample_list_1 = []
for x in range(80):
    sample_list_1.append(random.randint(0,100))

len(sample_list_1)

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set1 = set(sample_list_1 )

#Sets count only unique values. Duplicates from rlist have been removed in this set

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [31]:
# Your code here
sample_list_2 = []
for x in range(80):
    sample_list_2.append(random.randint(0,100))

len(sample_list_2)

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [33]:
# Your code here
set2 = set(sample_list_2)

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [39]:
# Your code here
set3 = set1 - set2

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [41]:
# Your code here
set4 = set2 - set1

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [45]:
# Your code here
set5 = set1.intersection(set2)

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [51]:
# Your code here
lengths = [(len(set1)), (len(set2)), (len(set3)), (len(set4)), (len(set5))]
lengths
# len(set1) ~ len(set2) > len(set3) ~ len (set4) < len(set5)

[56, 51, 24, 19, 32]

#### Create an empty set called `set6`.

In [71]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [77]:
# Your code here
set6.update(set3, set5)

len(set6)

57

#### Check if `set1` and `set6` are equal.

In [83]:
# Your code here
print(set1 == set6)
print(len(set1) == len(set6))

False
False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [90]:
# Your code here

print(set1.issubset(set2))
print(set1.issubset(set3))

#However, the union of sets contains its parts:
print(set5.issubset(set1))

False
False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [93]:
# Your code here
union345 = set3.union(set4).union(set5)
union345_12 = union345.union(set1).union(set2)

#### Using the `pop` method, remove the first element from `set1`.

In [6]:
# Your code here
set1.pop(1)

#Not possible: Sets are unordered - there is no 'first' element

TypeError: pop() takes no arguments (1 given)

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [94]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

# Your code here
for i in list_to_remove:
    set1.remove(i)

    print(set1)
    
#Generates an error because the remove methood tries to access the set using i=9 which doesn't exist in set 1

{0, 3, 4, 5, 10, 12, 13, 14, 17, 20, 23, 24, 27, 30, 31, 32, 35, 40, 41, 43, 44, 47, 48, 49, 51, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 65, 67, 70, 72, 73, 77, 78, 82, 83, 87, 88, 89, 90, 92, 93, 94, 95, 97, 99, 100}

KeyError: 9